.list {
  list-style: none;
  background-color: var(--main-color);
  border-radius: 10px;
  width: 330px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 12px;
}
@media (min-width: 1280px) {
  .list {
    height: 300px;
    margin: 0;
  }
}
.item {
  position: relative;
  padding: 0 10px;
  cursor: pointer;
}
.item:after {
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  height: 40px;
  width: 0;
  left: -10px;
  top: 5px;
}
.item:hover:after {
  width: 5px;
}
