.container {
  display: none;
}
@media (min-width: 1280px) {
  .container {
    display: block;
    background-color: var(--main-color);
    border-radius: 10px;
    width: 300px;
    margin-top: 25px;
    margin-left: 30px;
  }
}
.title {
}
@media (min-width: 1280px) {
  .title {
    border-bottom: solid 1px var(--light-gray);
  }
}
.main_container {
  cursor: pointer;
}
@media (min-width: 1280px) {
  .main_container {
    margin-top: 15px;
  }
}
.upper_content_container {
}
@media (min-width: 1280px) {
  .upper_content_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
}
.user_img_container {
  width: 50px;
  height: 50px;
  position: relative;
}

.user_img {
}
@media (min-width: 1280px) {
  .user_img {
    position: relative;
    border-radius: 25%;
  }
}
.user_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
.bottom_text_container {
}
@media (min-width: 1280px) {
  .bottom_text_container {
    padding: 10px;
    border-bottom: solid 1px var(--light-gray);
  }
}
.cover_img_container {
}
@media (min-width: 1280px) {
  .cover_img_container {
    width: 250px;
    margin-top: 10px;
  }
}
.cover_img {
}
@media (min-width: 1280px) {
  .cover_img {
    border-radius: 10px;
  }
}
